<h1><%= t(:completed_translations) %></h1>

<p><%= link_to t(:see_phrases_missing_translation), @locale %></p>

<% if @locale.has_updated_translations? && action_name != 'updated' %>
  <p><strong><%= t(:some_phrases_have_changed) %> <%= link_to t(:update_translations), tolk.updated_locale_path(@locale) %>.</strong></p>
<% end %>

<%= content_for :sidebar do %>
  <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
<% end %>

<div class="tolk_translations">
<% if @phrases.any? %>
  <%= form_for @locale do |locale_form| %>
        <table class="translations">
      <tr>
        <th class="translation"><%= @locale.language_name -%></th>
        <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
      </tr>
      <% @phrases.each do |phrase| %>
        <% if phrase.translations.primary %>
          <tr>
            <td class="translation">
              <%= hidden_field_tag :"translations[][id]", phrase.translation.id %>
              <%= hidden_field_tag :"translations[][locale_id]", phrase.translation.locale_id %>
              <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(phrase.translation.text), :class => 'locale' %>
            </td>
            <td class="phrase">

              <% if action_name == 'updated' %>
                <div class="updated">
                  <span class="key"><%= t('phrase_updated') %></span>
                  <%= format_i18n_value(phrase.translations.primary.text) -%>
                  <%= boolean_warning if phrase.translations.primary.boolean? -%>
                </div>
                <div class="original">
                  <span class="key"><%= t('phrase_original') %></span>
                  <%= format_i18n_value(phrase.translations.primary.previous_text) -%>
                </div>
              <% else %>
                <%= format_i18n_value(phrase.translations.primary.text) -%>
                <%= boolean_warning if phrase.translations.primary.boolean? -%>
              <% end %>

              <span class="key"><%= phrase.key %></span>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="table_submit">
      <p class="form-buttons">
        <%= button t(:update) %>
      </p>
    </div>
    <div class="paginate">
      <%= paginate @phrases %>
    </div>
  <% end %>
<% else %>
  <p style="text-align: left"><%= t(:no_completed_traslations_for_this_locale) %></p>
  <p>&nbsp;</p>
<% end %>
</div>

