<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= tolk.locale_path(@locale, :format => 'atom') -%>" />
<% end %>

<h1><%= t(:phrases_missing_translation) %> (<%= @locale.count_phrases_without_translation %>)</h1>

<p><%= link_to t(:see_completed_translations), tolk.all_locale_path(@locale) %></p>

<% if @locale.has_updated_translations? && action_name != 'updated' %>
  <p><strong><%= t(:some_phrases_have_changed) %> <%= link_to t(:update_translations), tolk.updated_locale_path(@locale) %>.</strong></p>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
<% end %>

<div class="tolk_translations">
  <% if @phrases.any? %>
     <%= form_for @locale do |locale_form| %>
      <table class="translations">
        <tr>
          <th class="translation"><h2><%= @locale.language_name -%></h2></th>
          <th class="key"><h2><%= Tolk::Locale.primary_language_name -%></h2></th>
        </tr>
        <% @phrases.each do |phrase| %>
          <tr>
            <% translation = Tolk::Translation.new(:locale => @locale, :phrase => phrase) %>
            <td class="translation">
              <label title="<%= phrase.key %>"><%= truncate(phrase.key, :length => 100) %></label><br />
              <%= hidden_field_tag :"translations[][id]", translation.id, :id => "#{translation.object_id}_id" %>
              <%= hidden_field_tag :"translations[][phrase_id]", phrase.id, :id => "#{translation.object_id}_phrase_id" %>
              <%= hidden_field_tag :"translations[][locale_id]", translation.locale_id, :id => "#{translation.object_id}_locale_id" %>
              <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(translation.text), :class => "locale", :id => "#{translation.object_id}_text" %>
            </td>
            <td class="phrase">
              <label><%= phrase.key %></label><br />
              <% if params[:q].present? -%>
                <%= highlight(format_i18n_value(phrase.translations.primary.text), params[:q]) -%>
              <% else -%>
                <%= format_i18n_value(phrase.translations.primary.text) -%>
              <% end -%>
              <%= boolean_warning if phrase.translations.primary.boolean? -%>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="table_submit">
        <p class="form-buttons">
          <%= button t(:update) %>
        </p>
      </div>
    <% end %>
    <div class="paginate">
      <%= paginate @phrases %>
    </div>
  <% else %>
    <p style="text-align: left"><%= t(:no_missing_or_updated_traslations_for_this_locale) %></p>
    <p>&nbsp;</p>
  <% end %>
</div>
